@import './settings';

.attribution { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    font-size: 11px; 
    text-align: center; 
    @media screen and (max-width: 600px) {
        &{
            
           bottom: 95%;
        }
      }
  }

.attribution a { 
    color: $darkCyan; 
}